xsd/BridgeheadInfo.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  attributeFormDefault="unqualified"
  elementFormDefault="qualified"
  targetNamespace="http://schema.samply.de/config/BridgeheadInfo">
  <xs:element name="bridgehead">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element minOccurs="0" name="centralsearch" type="xs:string"/>
        <xs:element name="decentralsearch" type="xs:string"/>
        <xs:element name="queryLanguage" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

